::ng-deep {
    .p-tabview .p-tabview-nav {
        justify-content: center;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: red;
    }

    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        background-color: red;
    }

    .poster {
        max-width: 100%;
    }

    .overview {
        line-height: 1.5;
    }

    .stat {
        display: flex;
        margin-bottom: 15px;
        .label {
            width: 150px;
            font-weight: bold;
        }

        .value {
            color: red;
        }
    }
}