<div class="container">
  <div class="grid">
    <div class="col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="searchValue"
          (change)="searchChanged()"
        />
      </span>
    </div>
  </div>

  <ng-container *ngIf="showList$ | async as showList">
    <div class="grid">
      <div class="col-2" *ngFor="let show of showList.results">
        <app-show-item [showItem]="show"></app-show-item>
      </div>
    </div>
  

  <div class="grid">
    <div class="col-12">
      <p-paginator
        (onPageChange)="pageChanged($event)"
        [rows]="20"
        [totalRecords]="showList.total_results"
      >
      </p-paginator>
    </div>
  </div>

</ng-container>
</div>
