<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img src="" alt="">
        </div>

        <div class="slide-pane">
            <h2 class="title">Slider Title</h2>
            <div class="meta">
                <div class="rating">
                    <i>star-icon</i>
                    <span>9.0</span>
                    <span>/10</span>
                </div>
                <div class="votes">
                    <i>vote-icon</i>
                    <span>4435</span>
                </div>

                <div class="release-date">
                    20.07.2024
                </div>
            </div>

            <div class="description">some text</div>
        </div>
    </div>
</div>