<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img src="" alt="">
        </div>

        <div class="slide-pane">
            <h2 class="title">Slider Title</h2>
            <div class="meta mb-4">
                <div class="rating mb-1">
                    <i class="pi pi-star-fill"></i>
                    <span>9.0</span>
                    <span>/10</span>
                </div>
                <div class="votes">
                    <i class="pi pi-users"></i>
                    <span>4435</span>
                </div>

                <div class="release-date">
                    <i class="pi pi-calendar"></i>
                    <span>9.11.2023</span>
                </div>
            </div>

            <div class="description">some text</div>
        </div>
    </div>
</div>