<div class="container">
    <div class="grid">
        <div class="col-12 genres-links">
            <ng-container *ngIf="genres$ | async as genres">
                <a *ngFor="let genre of genres"
                [routerLink]="'/genres/' + genre.id"
                role="button"
                aria-hidden="true">{{ genre.name }}</a>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="shows$ | async as shows">
        <div class="grid">
            <div class="col-2" *ngFor="let show of shows">
                <app-show-item [showItem]="show"></app-show-item>
            </div>
        </div>
    </ng-container>
</div>
